<template>
  <div class="hx-page">
    <div class="hx-page-body">

      <main-nav></main-nav>
      <div id="course-details" class="hx-content" :class="{ 'nav-open': !$store.state.nav }">

        <toolbar title="Course detail">
          <ul class="hx-breadcrumb my-0">
            <li class="">
              <nuxt-link to="/courses">Courses</nuxt-link>
            </li>
            <li class="hx-breadcrumb-divider">/</li>
            <li class=" is-disabled">
              <a href="#">Have you got your head in the cloud?</a>
            </li>
          </ul>
        </toolbar>

        <div class="hx-section">
          <div class="hx-columns">

            <div class="hx-column is-12-mobile is-7-tablet is-8-desktop">

              <div class="hx-media hx-media-letterbox mb-5">
                <div class="content">
                  <img src="https://picsum.photos/1000/1900/?image=95" alt="">
                </div>
              </div>

              <h1 class="hx-title">Have you got your head in the cloud?</h1>
              <h2 class="hx-subtitle">Course status: In progress</h2>

              <div class="is-perforated mb-5"></div>

              <p>Chances are cloud-based computing will play a central role, but how much do you know about it? To confirm the facts and dispel the myths, this module takes participants through the role of cloud-based technologies in general practice, including the core challenges and opportunities like integrating health data to help advance the delivery of care.</p>

              <h4 class="mt-10 mb-4">Learning outcomes</h4>

              <p>After completing this module, general practitioners will be able to:</p>

              <ul>
                <li>Recognise the differences between hosting options for clinical management systems</li>
                <li>Identify the key challenges for implementing a cloud-based system into their practice</li>
                <li>Discuss the opportunities cloud-based clinical management systems offer over local hosting solutions to improve patient care</li>
                <li>Develop a checklist to start implementing a cloud-based clinical management system into their practice</li>
              </ul>

              <div class="is-perforated my-10"></div>

              <div class="hx-card">
                <div class="hx-card-content pa-0 pt-2">

                  <h5 class="px-3 mb-0">Course content</h5>
                  <p class="px-3 mt-0">Completed course activity is accredited for 2 Category 2 RACGP QI & CPD 2017-19 points</p>
                  <div class="is-perforated"></div>

                  <ul class="hx-list-group">
                    <li v-for="(content, cc) in courseContent" :key="cc" class="hx-list-item" :class="{ 'is-completed': content.status == 'Completed', 'is-in-progress': content.status == 'In progress' }">
                      <nuxt-link to="/" class="hx-list-link">
                        <div class="hx-progress-bar" v-if="content.status == 'In progress'">
                          <progress :value="content.percentage" max="100">0%</progress>
                        </div>
                        <div class="hx-list-action mr-5">
                          <i class="hx-icon icon-check-empty is-large"></i>
                        </div>
                        <div class="hx-list-content">
                          <span>
                            <strong>{{ content.name }}</strong> <br>
                            <small :class="{'text-is-success': content.status == 'Completed'}">{{ content.status }}</small>
                          </span>
                        </div>
                        <div class="hx-list-action">
                          <i class="hx-icon icon-angle-right"></i>
                        </div>
                      </nuxt-link>
                    </li>
                  </ul>

                </div>
              </div>

            </div>

            <!-- Side bar -->
            <div class="hx-column is-12-mobile is-5-tablet is-4-desktop">

              <div class="hx-card">
                <div class="hx-card-content pa-0 pt-2">

                  <h5 class="px-3 mb-3">Course navigation</h5>
                  <div class="is-perforated"></div>

                  <ul class="hx-list has-status is-joined ma-5">
                    <li class="is-success is-checked">
                      <h6 class="title">Access your prior knowledge <i class="icon icon-angle-down"></i></h6>
                    </li>
                    <li class="is-success is-not-checked">
                      <h6 class="title">Evolution of IT in Primary Care <i class="icon icon-angle-up"></i></h6>
                      <div class="hx-collapsible">
                        <div class="hx-group">
                          <ul class="mt-5">
                            <li>Technology uptake is important for advances in healthcare delivery 1-3</li>
                            <li>Topic with list</li>
                            <li>Topic quiz</li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="is-not-checked">
                      <h6 class="title">What is Cloud Computing? <i class="icon icon-angle-down"></i></h6>
                    </li>
                    <li class="is-not-checked">
                      <h6 class="title">Benefits of Cloud Computing <i class="icon icon-angle-down"></i></h6>
                    </li>
                    <li class="is-not-checked">
                      <h6 class="title">Final assessment <i class="icon icon-angle-down"></i></h6>
                    </li>
                  </ul>
                </div>
              </div>

              <button class="hx-button is-grey my-5 is-large is-fullwidth">
                Continue course
              </button>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import MainNav from '@/components/MainNav'
import Toolbar from '@/components/Toolbar'

export default {
  data: () => ({
    courseContent: [
      {
        name: 'Access your prior knowledge',
        status: 'Completed'
      },
      {
        name: 'Evolution of IT in Primary Care',
        status: 'In progress',
        percentage: 18
      },
      {
        name: 'What is Cloud Computing?',
        status: 'Incomplete'
      },
      {
        name: 'Benefits of Cloud Computing',
        status: 'Incomplete'
      },
      {
        name: 'Final assessment',
        status: 'Incomplete'
      }
    ]
  }),
  components: {
    MainNav,
    Toolbar
  }
}
</script>

<style lang="scss">
$teal: #3a7b8e;
$success: #2ECC40;
$warning: #FF851B;
$danger: #FF4136;

.text-is-success {
  color: darken($success, 10%);
}

.hx-list-group {
  .hx-list-item {
    position: relative;
    .hx-list-link {
      &:hover {
        color: $teal;
      }
    }
    .hx-progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      progress, progress[role] {
        appearance: none;
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: calc(100% + 1px);
        border: none;
        background-size: auto;
        &::-webkit-progress-bar {
          background-color: rgba(0,0,0,.01);
        }
        &::-webkit-progress-value {
          transition: .3s ease-in-out;
          opacity: .5;
          background-color: rgba($teal, .2);
        }
      }
    }
    .icon-check-empty {
      color: rgba(0,0,0,.05);
    }
    &.is-completed {
      .icon-check-empty {
        color: $success;
      }
    }
  }
}
</style>
