<template>
  <nuxt-link :to="'course/' + id" class="hx-card course-card has-pointer"
  :class="{ 'status-incomplete': status == 'incomplete', 'status-completed': status == 'completed', 'status-failed': status == 'failed', 'status-pending': status == 'pending' }">
    <div class="sponsored" v-if="sponsored">Sponsored</div>
    <div class="hx-media hx-media-16-9">
      <div class="content">
        <img :src="image" alt="">
      </div>
    </div>
    <div class="hx-card-content pt-4">
      <div class="hx-progress-bar">
        <p class="status">{{ status }}</p>
        <progress :value="completion" max="100" v-if="status"></progress>
      </div>
      <h5 class="my-0">{{ name }}</h5>
      <p class="mt-0 mb-1" v-if="points"><strong>{{ points }} CPD points</strong></p>
      <p class="description mt-0 mb-0">{{ desc }}</p>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  data: () => ({

  }),
  props: {
    id: { required: true },
    sponsored: { default: false },
    name: { required: true },
    desc: { default: '' },
    image: { required: true },
    points: { default: '' },
    status: { default: '' },
    completion: { default: 0 }
  }
}
</script>

<style lang="scss">
$teal: #3a7b8e;
$success: #2ECC40;
$warning: #FF851B;
$danger: #FF4136;
.hx-card.course-card {
  display: block;
  border-radius: 10px;
  transition: .3s ease-in-out;

  &:before {
    content: 'View course';
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0,0,0,.3);
    font-size: .8rem;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    left: 50%;
    width: calc(100% - 2.5rem);
    transform: translateX(-50%);
    padding: .5rem 0 0;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.1);
    opacity: 0;
    z-index: 1;
    transition: .3s ease-in-out;
  }

  &.status-completed {
    .hx-progress-bar {
      progress, progress[role] {
        &::-webkit-progress-value {
          background-color: $success;
        }
      }
    }
    &:before {
      content: 'Review';
    }
  }

  &.status-pending {
    .hx-progress-bar {
      progress, progress[role] {
        &::-webkit-progress-value {
          background-color: $warning;
        }
      }
    }
    &:before {
      content: 'Review';
    }
  }

  &.status-failed {
    .hx-progress-bar {
      progress, progress[role] {
        &::-webkit-progress-value {
          background-color: $danger;
        }
      }
    }
    &:before {
      content: 'Retake';
    }
  }

  &.status-incomplete {
    &:before {
      content: 'Continue';
    }
  }

  &:hover {

    text-decoration: none !important;
    color: inherit !important;

    &.status-completed {
      .hx-progress-bar {
        progress, progress[role] {
          &::-webkit-progress-value {
            opacity: 1;
          }
        }
      }
    }

    &.status-pending {
      .hx-progress-bar {
        progress, progress[role] {
          &::-webkit-progress-value {
            opacity: 1;
          }
        }
      }
    }

    &.status-failed {
      .hx-progress-bar {
        progress, progress[role] {
          &::-webkit-progress-value {
            opacity: 1;
          }
        }
      }
    }

    &.status-incomplete {
      .hx-progress-bar {
        progress, progress[role] {
          &::-webkit-progress-value {
            opacity: 1;
          }
        }
      }
    }

    .hx-card-content {
      transform: translate3d(0, -2.5rem, 0);
      box-shadow: 0 -8px 15px 0 rgba(0,0,0,.2);
    }

    &:before {
      opacity: 1;
    }

  }

  .sponsored {
    position: absolute;
    top: 16px;
    left: -50px;
    z-index: 1;
    padding: 0px 10px;
    background: $teal;
    color: white;
    transform: rotate(-30deg);
    width: 11rem;
    text-align: center;
  }

  .hx-media {
    background-color: #ddd;
    > .content {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  .hx-progress-bar {
    position: absolute;
    top: -1.25rem;
    left: 0;
    width: 100%;
    height: 1.25rem;
    .status {
      position: relative;
      padding: 0 1.25rem;
      line-height: 1.26rem;
      margin: 0;
      color: white;
      font-size: .75rem;
      text-transform: uppercase;
      z-index: 1;
    }
    progress, progress[role] {
      appearance: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      background-size: auto;
      &::-webkit-progress-bar {
        background-color: rgba(0,0,0,0.1);
      }
      &::-webkit-progress-value {
        transition: .3s ease-in-out;
        opacity: .5;
        background-color: $teal;
      }
    }
  }

  .hx-card-content {
    background-color: #ffffff;
    transition: .3s ease-in-out;
    position: relative;
  }

  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

}
</style>
