<template>
  <div id="main-nav" class="hx-nav-drawer">
    <span>
      <aside class="hx-sidebar hx-bg-grey pt-0 is-active" :class="{ 'is-minified': $store.state.nav }">

        <div class="hx-toolbar hx-bg-teal darken-3">
          <i class="icon ion-ios-book" :class="{ 'mr-3': !$store.state.nav }"></i>
          <transition name="fade">
            <span v-if="!$store.state.nav">MD Academy</span>
          </transition>
        </div>

        <transition name="fade">
          <div class="has-text-centered mt-8" v-if="!$store.state.nav">
            <div class="hx-avatar is-large" style="background-image: url(https://d31fr2pwly4c4s.cloudfront.net/1/9/0/1018182_1_john-smith_400.jpg)"></div>
            <h4 class="name px-4">Dr. John Smith</h4>
          </div>
        </transition>

        <ul class="hx-nav is-vertical py-5 px-2">
          <li class="hx-nav-item" v-for="(item, i) in navItems" :key="i">
            <nuxt-link class="hx-nav-link" exact-active-class="is-active" :to="item.link">
              <i class="hx-icon" :class="'icon-' + item.icon"></i>
              <transition name="fade">
                <span class="ml-2" v-if="!$store.state.nav">{{ item.name }}</span>
              </transition>
            </nuxt-link>
          </li>
        </ul>

        <ul class="hx-nav is-vertical px-2 is-bottom">
          <li class="hx-nav-item">
            <transition name="fade">
              <a href="#" class="hx-nav-link hx-flex-justify-center" v-if="!$store.state.nav">
                <span>Powered by <strong>MedicalDirector</strong></span>
              </a>
            </transition>
          </li>
        </ul>

      </aside>
    </span>
    <transition name="fade">
      <div class="hx-overlay" v-if="!$store.state.nav"></div>
    </transition>
    <div class="hx-nav-navicon has-pointer" :class="{ 'is-closed': $store.state.nav }" @click="$store.commit('toggleNav')">
      <i class="hx-icon icon-navicon"></i>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    minified: false,
    navItems: [
      {
        icon: 'dashboard',
        name: 'Dashboard',
        link: '/dashboard'
      },
      {
        icon: 'filing-outline',
        name: 'Courses',
        link: '/courses'
      },
      {
        icon: 'star',
        name: 'Certificates',
        link: '/certificates'
      },
      {
        icon: 'user',
        name: 'Account',
        link: '/account'
      },
      {
        icon: 'chat-bubble',
        name: 'Messages',
        link: '/messages'
      },
      {
        icon: 'power',
        name: 'Logout',
        link: '/'
      }
    ]
  }),
  methods: {
    // toggleNav () {
    //   this.minified = !this.minified
    // }
  }
}
</script>

<style lang="scss">

</style>
