<template>
  <div class="hx-toolbar hx-bg-white pl-8">
    <slot />
    <div class="hx-spacer"></div>
    <span>{{ title }}</span>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      default: ''
    }
  }
}
</script>

<style lang="scss">
</style>
