.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.height-enter-active, .height-leave-active {
  transition: all .5s;
}
.height-enter, .height-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  height: 0;
}

$teal: #3a7b8e;
$success: #2ECC40;
$warning: #FF851B;
$danger: #FF4136;

.hxui-reset {

  body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight: 300 !important;
    font-size: 16px;
  }

  small {
    font-size: 14px;
  }

  .hx-page {
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
  }

  strong {
    font-weight: 600;
  }

  a {
    &:link {
      color: $teal;
    }
    &:visited {
      color: #2a2c2d;
    }
  }

  .hx-breadcrumb {
    a {
      &:link, &:visited {
        color: $teal;
      }
    }
  }

  .hx-content {
    width: 100%;
    margin-left: 3.5rem;
    transition: .3s ease-in-out;
    &.nav-open {
      @media (min-width: 1264px) {
        margin-left: 17rem;
      }
    }
  }

  .hx-card {
    border-radius: 10px;
  }

  .hx-list {

    &.has-status {
      > li {
        &.is-success {
          &.is-checked {
            &:before {
              background-color: $success;
            }
          }
          &.is-not-checked {
            &:before {
              border-color: $success;
            }
          }
          &:after {
            background-color: $success !important;
          }
        }
        .title {
          padding-top: .2rem;
          i {
            float: right;
          }
        }
        &:last-child {
          &:after {
            content: none;
          }
        }
      }
    }
  }

  @mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }
    > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 8px;
      overflow: hidden;
      background-color: rgba(0,0,0,.1);
      img {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .hx-toolbar {
    height: 52px;
  }

  .hx-media {
    &.hx-media-16-9 {
      @include aspect-ratio (16, 9)
    }
    &.hx-media-letterbox {
      @include aspect-ratio (3, 1)
    }
  }

  .hx-title {
    font-weight: 900 !important;
    font-family: 'Helvetica Neue', sans-serif !important;
    text-transform: uppercase;
    color: $teal;
    line-height: 1;
  }

  .hx-subtitle {
    font-weight: 600 !important;
    color: #aaa !important;
    line-height: 1;
  }

  .hx-button-group {
    .is-active {
      background-color: rgba(0,0,0,.1);
      box-shadow: inset 0 4px 8px rgba(0,0,0,.1);
      border-color: #bbb;
    }
  }

  #main-nav {

    &.hx-nav-drawer {
      position: fixed;
    }

    .hx-toolbar {
      justify-content: center;
      height: 52px;
      .icon {
        height: 26px;
        line-height: 1;
        font-size: 1.8rem;
      }
      span {
        color: white;
        font-size: 1.4rem;
        white-space: nowrap;
        text-overflow: clip;
      }
    }

    .name {
      overflow: auto;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .hx-nav {
      .hx-nav-link {
        color: white;
        strong {
          font-weight: 600;
          // margin-left: .3rem;
          color: #FF4136;
        }
        span {
          white-space: nowrap;
          text-overflow: clip;
        }
        &:hover {
          color: $teal;
        }
        &.is-active {
          background-color: rgba(white, .1);
        }
      }
    }

    .hx-nav-navicon {
      left: 17rem;
      height: 52px;
      line-height: 52px;
      padding: .25rem 0;
      transition: .3s ease-in-out;
      background-color: transparent;
      &:hover {
        background-color: rgba(black,.05);
      }
      &.is-closed {
        left: 3.5rem;
        // background-color: #ffffff;
      }
    }

  }

  .hx-progress-bar[value] {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: .3rem;
    border: none;
    border-radius: 1rem;
    &::-webkit-progress-bar {
      background-color: #eee;
      border-radius: 10px;
    }
    &::-webkit-progress-value {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  #dashboard {

    .hx-button {
      &.is-round {
        color: #ccc;
      }
    }
  }

}
