<template>
  <div class="hx-page">
    <div class="hx-page-body">

      <main-nav></main-nav>
      <div id="courses" class="hx-content">

        <div class="hx-toolbar hx-bg-white">
          <div class="hx-spacer"></div>
          <span>Certificates</span>
        </div>

        <div class="hx-columns">
          <div class="hx-column">

            <div class="hx-section">

              <div class="hx-columns mb-0">
                <div class="hx-column is-10-mobile">
                  <h1 class="hx-title mb-0">My Certificates</h1>
                  <!-- <h2 class="hx-subtitle mt-1">Suggested by MD. Tap the heart to follow.</h2> -->
                </div>
                <div class="hx-column has-text-right">
                  <!-- <button class="hx-button is-round is-flat">
                    <i class="hx-icon icon-heart-outline is-large"></i>
                  </button> -->
                </div>
              </div>

              <!-- Articles 2-4 -->
              <div class="hx-columns">
                <div class="hx-column">

                </div>
                <div class="hx-column">

                </div>
                <div class="hx-column">

                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
</template>

<script>
import MainNav from '@/components/MainNav'
export default {
  components: {
    MainNav
  }
}
</script>

<style lang="scss" scoped>

</style>
