<template>
  <div class="hx-page">
    <div class="hx-page-body">

      <main-nav></main-nav>
      <div id="courses" class="hx-content" :class="{ 'nav-open': !$store.state.nav }">

        <toolbar title="courses"></toolbar>

        <div class="hx-columns">
          <div class="hx-column">

            <div class="hx-section">

              <div class="hx-columns mb-0">
                <div class="hx-column is-10-mobile">
                  <h1 class="hx-title mb-2">Courses</h1>
                  <div class="hx-button-group mb-3">
                    <a class="hx-button is-active">
                      All courses
                    </a>
                    <a class="hx-button">
                      My courses
                    </a>
                  </div>
                </div>
              </div>

              <!-- Articles 2-4 -->
              <div class="hx-columns">
                <div v-for="(course, c) in courses" :key="c" class="hx-column is-12-mobile is-6-tablet is-4-desktop is-3-widescreen is-2-fullhd">
                  <course-card
                    :id="course.id"
                    :name="course.name"
                    :desc="course.desc"
                    :sponsored="course.sponsored"
                    :image="course.image"
                    :points="course.pts"
                    :status="course.status"
                    :completion="course.completion"
                  ></course-card>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
</template>

<script>
import MainNav from '@/components/MainNav'
import Toolbar from '@/components/Toolbar'
import CourseCard from '@/components/CourseCard'
export default {
  data: () => ({
    courses: [
      {
        id: 1234,
        name: 'Course one',
        image: 'https://picsum.photos/432/768/?image=1081',
        pts: 4,
        hover: false,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'Course two',
        image: 'https://picsum.photos/432/768/?image=1078',
        pts: 2,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'Course three',
        image: 'https://picsum.photos/432/768/?image=1074',
        pts: 5,
        sponsored: true,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'Course four',
        image: 'https://picsum.photos/432/768/?image=1069',
        pts: 3,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'My course one',
        status: 'pending',
        completion: 100,
        image: 'https://picsum.photos/432/768/?image=1022',
        pts: 4,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'Course five',
        image: 'https://picsum.photos/432/768/?image=1013',
        pts: 3,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'My course two',
        status: 'completed',
        completion: 100,
        image: 'https://picsum.photos/432/768/?image=1021',
        pts: 4,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'My course three',
        status: 'failed',
        completion: 100,
        sponsored: true,
        image: 'https://picsum.photos/432/768/?image=1024',
        pts: 4,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'Course six',
        image: 'https://picsum.photos/432/768/?image=1032',
        pts: 2,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'Course seven',
        image: 'https://picsum.photos/432/768/?image=1000',
        pts: 1,
        sponsored: true,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'Course eight',
        image: 'https://picsum.photos/432/768/?image=1011',
        pts: 3,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'My course four',
        status: 'incomplete',
        completion: 28,
        image: 'https://picsum.photos/432/768/?image=1022',
        pts: 4,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'Course nine',
        image: 'https://picsum.photos/432/768/?image=1023',
        pts: 4,
        sponsored: true,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'Course ten',
        image: 'https://picsum.photos/432/768/?image=1001',
        pts: 5,
        sponsored: true,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'Course eleven',
        image: 'https://picsum.photos/432/768/?image=1003',
        pts: 2,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      },
      {
        id: 1235,
        name: 'Course twelve',
        image: 'https://picsum.photos/432/768/?image=999',
        pts: 3,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      }
    ]
  }),
  components: {
    MainNav,
    Toolbar,
    CourseCard
  }
}
</script>

<style lang="scss">
$teal: #3a7b8e;
.hxui-reset {
  #courses {

  }
}
</style>
