<template>
  <div class="hx-page">
    <div class="hx-page-body">

      <main-nav></main-nav>
      <div id="dashboard" class="hx-content" :class="{ 'nav-open': !$store.state.nav }">

        <div class="hx-toolbar hx-bg-white">
          <div class="hx-spacer"></div>
          <span>Dashboard</span>
        </div>

        <div class="hx-section">
          <div class="hx-columns">

            <div class="hx-column is-12-mobile is-7-tablet is-8-desktop">

              <div class="hx-columns mb-0">
                <div class="hx-column is-10-tablet">
                  <h1 class="hx-title mb-0">Medicine</h1>
                  <h2 class="hx-subtitle mt-1">Suggested by MD. Tap the heart to follow.</h2>
                </div>
                <div class="hx-column has-text-right is-hidden-mobile">
                  <button class="hx-button is-round is-flat">
                    <i class="hx-icon icon-heart-outline is-large"></i>
                  </button>
                </div>
              </div>

              <!-- Article 1 -->
              <div class="hx-columns">
                <div class="hx-column pt-0 is-12-mobile is-8-tablet">
                  <div class="hx-media hx-media-16-9">
                    <div class="content">
                      <img src="https://www.lakesinternalmedicine.com/wp-content/uploads/2016/06/pain-medicine-form.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="hx-column pt-0 is-12-mobile is-4-tablet">
                  <h3>The Future of Health: Developments in Precision Medicine</h3>
                  <p>Healthcare has long been regarded as a double-edged sword.</p>
                </div>
              </div>

              <!-- Articles 2-4 -->
              <div class="hx-columns">
                <div class="hx-column">
                  <div class="hx-media hx-media-16-9">
                    <div class="content hx-bg-grey lighten-3">
                      <img src="https://t3n9sm.c2.acecdn.net/wp-content/uploads/2014/09/Tech-Medicine-Stethoscope.png" alt="">
                    </div>
                  </div>
                  <h3 class="mt-2">New app makes taking medicine fun and games</h3>
                </div>
                <div class="hx-column">
                  <div class="hx-media hx-media-16-9">
                    <div class="content hx-bg-grey lighten-3">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFhbmA7dBqtVeMGhUXigx8bEPmCqJ6Dj2xUAtDGGfUVF_NcKGR3Q" alt="">
                    </div>
                  </div>
                  <h3 class="mt-2">A potential setback in the personalized medicine of cancer</h3>
                </div>
                <div class="hx-column">
                  <div class="hx-media hx-media-16-9">
                    <div class="content hx-bg-grey lighten-3">
                      <img src="https://www.uofmhealth.org/sites/default/files/styles/media_thumbnail/public/general/featured/med%20marijuana%20stock%20photo.jpg?itok=OcfLKD5x" alt="">
                    </div>
                  </div>
                  <h3 class="mt-2">Aquarium Medicine: An Ocean of Possibilities</h3>
                </div>
              </div>

              <!-- Next section -->

              <div class="hx-columns mt-10 mb-0">
                <div class="hx-column is-10-tablet">
                  <h1 class="hx-title mb-0">Respiratory</h1>
                  <h2 class="hx-subtitle mt-1">Suggested by MD. Tap the heart to follow.</h2>
                </div>
                <div class="hx-column has-text-right is-hidden-mobile">
                  <button class="hx-button is-round is-flat">
                    <i class="hx-icon icon-heart-outline is-large"></i>
                  </button>
                </div>
              </div>

              ...

            </div>

            <!-- Side bar -->
            <div class="hx-column is-12-mobile is-5-tablet is-4-desktop">

              <div class="hx-card mb-3">
                <div class="hx-card-content pt-2 px-0 pb-0">
                  <h5 class="mb-0 px-3">New courses</h5>
                  <p class="mt-0 mb-3 px-3">Since your last login</p>
                  <div class="is-perforated"></div>

                  <ul class="hx-list-group mb-0">
                    <li>
                      <a href="#">
                        <div>
                          <h4>Course one</h4>
                          <h6>2 CPD points</h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div>
                          <h4>Course two</h4>
                          <h6>5 CPD points</h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div>
                          <h4>Course three</h4>
                          <h6>3 CPD points</h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="hx-card">
                  <div class="hx-card-content pt-2 px-0 pb-0">
                    <h5 class="mb-0 px-3 mb-3">Current courses</h5>
                    <!-- <p class="mt-0 mb-3 px-3">Since your last login</p> -->
                    <div class="is-perforated"></div>

                    <ul class="hx-list-group mb-0">
                      <!-- <li>
                        <a href="#">
                          <div class="hx-column pa-0">
                            <h4 class="">Course one</h4>
                            <progress value="10" max="100" class="hx-progress-bar">0%</progress>
                          </div>
                          <div class="hx-column pa-0 has-text-right hx-flex-align-center">
                            <progress value="10" max="100" class="hx-progress-bar">0%</progress>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="hx-column pa-0">
                            <h4>Course two</h4>
                            <p class="mt-0">In progress</p>
                          </div>
                          <div class="hx-column pa-0 has-text-right hx-flex-align-center">
                            <progress value="40" max="100" class="hx-progress-bar">0%</progress>
                          </div>
                        </a>
                      </li> -->
                    </ul>
                  </div>
                </div>

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
</template>

<script>
import MainNav from '@/components/MainNav'
export default {
  components: {
    MainNav
  }
}
</script>

<style lang="scss" scoped>

</style>
