<template>
  <div id="login" class="hx-section">
    <div class="hx-section is-comfortable has-text-centered">
      <div class="columns">
        <div class="hx-column is-12-mobile is-6-tablet is-4-desktop is-offset-3-tablet is-offset-4-desktop">

          <div class="hx-card">
            <div class="hx-card-content">
              <h1 class="hx-title mb-3">MD Academy</h1>
              <nuxt-link class="hx-button is-large" to="/dashboard">Login</nuxt-link>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  }
}
</script>

<style>

</style>
